@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "core-sans";
    src: url("../fonts/Fontspring-coresansar45.otf");
}

@layer base {
    button {
      font-family: core-sans;
    }
}